@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: 'SF Compact Text';
  font-style: italic;
  font-weight: 400;
  src: local('SF Compact Text'), url('https://fonts.cdnfonts.com/s/14246/sf-compact-text-italic-58646f7cbab10.woff') format('woff');
}
@font-face {
  font-family: 'SF Compact Text';
  font-style: normal;
  font-weight: 800;
  src: local('SF Compact Text'), url('https://fonts.cdnfonts.com/s/14246/sf-compact-text-heavy-58646f645b774.woff') format('woff');
}
@font-face { 
  font-family: "Avenir Next"; 
  src: url('../public/fonts/AvenirNextW1G-Regular.otf'); 
  font-weight: 400; 
  font-style: normal; 
} 
@font-face { 
  font-family: "Avenir Next"; 
  src: url('../public/fonts/AvenirNextW1G-Medium.otf'); 
  font-weight: 500; 
  font-style: normal; 
} 
@font-face { 
  font-family: "Avenir Next"; 
  src: url('../public/fonts/AvenirNextW1G-SemiCnBold.otf'); 
  font-weight: 600; 
  font-style: normal; 
} 
@font-face { 
  font-family: "Avenir Next"; 
  src: url('../public/fonts/AvenirNextW1G-Bold.otf'); 
  font-weight: 700; 
  font-style: normal; 
} 
@font-face { 
  font-family: "Avenir Next"; 
  src: url('../public/fonts/AvenirNextW1G-SemiCnBlack.otf'); 
  font-weight: 800; 
  font-style: normal; 
} 
@font-face { 
  font-family: "Avenir Next"; 
  src: url('../public/fonts/AvenirNextW1G-CnBlack.otf'); 
  font-weight: 900; 
  font-style: normal; 
} 


$bg-white: #fff;
$bg-grey: #FBFBFB;;
$color-blue: #213F7D;
$font-base: 16px;
$font-family: 'Avenir Next';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: $bg-grey;
  font-size: $font-base;
  font-family: $font-family;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

input,select{
  outline: none;
}

button{
  outline: none;
}

.layout-flex{
  display: flex;
}