.users-container{
    padding: 2.5rem 2rem;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h4{
        color: var(--color-blue);
        font-size: 1.5rem;
        font-weight: var(--font-medium);
    }
}

.user-dashboard-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card{
    border-radius: 0.25rem;
    border: 1px solid rgba(33, 63, 125, 0.06);
    background: #FFF;
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    gap: .8rem;
    max-width: 15rem;
    height: 10rem;
    width: 100%;
    padding: 1.5rem;

    h5{
        color: var(--color-light-grey);
        font-size: 0.875rem;
        font-weight: var(--font-medium);
        text-transform: uppercase;
    }

    p{
        color: var(--color-blue);
        font-size: 1.5rem;
        font-weight: var(--font-semi-bold);
        text-transform: uppercase;
    }
}

.table-container{
    position: relative;
}
table{
    width: 100%;
    border-radius: 0.25rem;
    padding: 2rem;
    border: 1px solid rgba(33, 63, 125, 0.06);
    background: var(--bg-white);
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    position: relative;
}


th{
    text-align: left;
    color: var(--color-light-grey);
    font-size: 0.75rem;
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    padding-bottom: var(--font-base);

    div{
        display: flex;
        align-items: center;
        gap: .7rem;
        span{
            cursor: pointer;
        }
    }
}

tbody{
    tr{
        td{
            color: var(--color-light-grey);
            font-size: 0.875rem;
            font-weight: var(--font-normal);
            padding: var(--font-base) 0;
            border-bottom: 1px solid rgba(33, 63, 125, 0.10);
        }
    }

    tr:last-child{
        td{
            border-bottom: none;
        }
    }
    
    .td-btn{
        border-radius: 6.25rem;
        background: rgba(84, 95, 125,0.06);
        padding: .7rem 1rem;
        color: var(--color-light-grey);
        text-align: center;
    }

    .btn-active{
        border-radius: 6.25rem;
        background: rgba(57, 205, 98,0.06);                
        color: var(--bg-green);
        text-align: center;
        padding: .5rem 0rem;
    }

    .pending{
        border-radius: 6.25rem;
        background: rgba(233, 178, 0,0.1);
        padding: .5rem 0rem;       
        color: var(--bg-yellow);
        text-align: center;
    }

    .blacklist{
        border-radius: 6.25rem;
        background: rgba(228, 3, 59,0.1);
        padding: .5rem 0rem;      
        color: var(--color-red);
        text-align: center;
    }
}

.pagination-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MuiPagination-root{
    background: none;
}

.MuiPagination-ul{
    color: var(--color-light-grey);
    font-size: var(--font-base);
    font-weight: var(--font-normal);
}

.range-picker{
    display: flex;
    align-items: center;
    gap: var(--font-base);

    p{
        color: var(--color-light-grey);
        font-size: 0.875rem;
        font-weight: var(--font-normal);
    }

    .range-input{
        border-radius: 0.25rem;
        border: none;
        text-align: center;
        background: rgba(33, 63, 125, 0.10);
        width: 5rem;
        height: 1.875rem;
        color: var(--color-blue);
        font-size: 0.875rem;
        font-weight: var(--font-medium);
    }
}

.filter-container{
    border-radius: 0.25rem;
    border: 1px solid rgba(84, 95, 125, 0.14);
    background: var(--bg-white);
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    position: absolute;
    top: 9%;
    left: 2%;
    width: 16.875rem;
    padding: 1.5rem var(--font-base);
    display: flex;
    flex-direction: column;
    gap: var(--font-base);
}

.filter-input-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;

    label{
        color: var(--color-light-grey);
        font-size: 0.875rem;
        font-weight: var(--font-medium);
    }

    input,select{
        width: 100%;
        border-radius: 0.5rem;
        border: 1px solid var(--color-blue);
        opacity: 0.2;
        background: var(--bg-white);
        padding: .7rem;
    }

    input::placeholder{
        color: var(--color-light-grey);
        font-size: 0.875rem;
        font-weight: var(--font-normal);
    }

}

.btn-container{
    display: flex;
    align-items: center;
    gap: var(--font-base);
    

    button{
        padding: .7rem 1.8rem;
        border-radius: 0.5rem;
        text-align: center;
        font-size: 0.875rem;
        font-weight: var(--font-semi-bold);
        cursor: pointer;
    }

    .reset-btn{
        border: 1px solid var(--color-light-grey);
        color: var(--color-light-grey);
    }

    .filter-btn{
        border: 1px solid var(--color-aqua);
        background: var(--color-aqua);           
        color: var(--bg-white);
    }
}

.vertical-dot-container{
    position: relative;

    span{
        cursor: pointer;
    }
}
.more-container{
    border-radius: 0.25rem;
    border: 1px solid rgba(84, 95, 125, 0.04);
    background: #FFF;
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    width: 11.25rem;
    padding: var(--font-base);
    display: flex;
    flex-direction: column;
    gap: var(--font-base);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}


.more-container-item{
    display: flex;
    align-items: center;
    gap: var(--font-base);
    cursor: pointer;

    p,a{
        color: var(--color-light-grey);
        font-size: 0.875rem;
        font-weight: var(--font-medium);
    }
}

@media (max-width: 1024px) {
    .users-container{
        padding: 2.5rem var(--font-base);
    }

    .user-dashboard-container{
        gap: var(--font-base);
    }

    .card{
        padding: var(--font-base);
        padding-right: 0;

        h5{
            font-size: .78rem;
        }

        p{
            font-size: 1.3rem;
        }
    }

    .table-container{
        overflow: auto;
    }

    table {
        padding: var(--font-base);

    }

    tr{
        border-spacing: 2rem var(--font-base);
    }
    
    th,td {
        font-size: 0.7rem;
        padding-right: 10rem;
    }
    
    .td-btn {
        padding: 0.5rem 0;
    }
    
}

@media (max-width: 768px) {
    .users-container{
        width: 100vw;

    }
}

@media (max-width: 560px) {
    .user-dashboard-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .pagination-container{
        flex-direction: column;
        margin-top: var(--font-base);
    }
}