.user-details-container{
    padding: 2.5rem 2rem;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.back-btn{
    display: flex;
    align-items: center;
    gap: var(--font-base);

    a{
        color: var(--color-light-grey);
        font-size: var(--font-base);
        font-weight: var(--font-normal);
    }
}

.user-details-container-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title{
        color: var(--color-blue);
        font-size: 1.5rem;
        font-weight: var(--font-medium);
    }

    .btn-container{
        display: flex;
        align-items: center;
        gap: var(--font-base);

        button{
            padding: .7rem;
            border-radius: 0.5rem;
            text-align: center;
            font-size: 0.875rem;
            font-weight: var(--font-semi-bold);
            letter-spacing: 0.0875rem;
            text-transform: uppercase;
            background: var(--bg-white);
            cursor: pointer;
        }

        .blacklist{
            border: 1px solid var(--color-red);
            color: var(--color-red);
        }

        .activate{
            border: 1px solid var(--color-aqua);
            color: var(--color-aqua);
        }
    }
}

.user-details-profile-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.user-details-profile-head-container{
    border-radius: 0.25rem;
    border: 1px solid rgba(33, 63, 125, 0.06);
    background: var(--bg-white);
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    width: 100%;
    padding: var(--font-base);
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.user-details-profile{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.name-container{
    h4{
        color: var(--color-blue);
        font-size: 1.375rem;
        font-weight: var(--font-medium);
    }
    p{
        color: var(--color-light-grey);
        font-size: 0.875rem;
        font-weight: var(--font-normal);
    }
}

.user-tier{
    p{
        color: var(--color-light-grey);
        font-size: 0.875rem;
        font-weight: var(--font-medium);
    }
}

.account-details{
    h4{
        color: var(--color-blue);
        font-size: 1.375rem;
        font-weight: var(--font-medium);
    }

    p{
        color: var(--color-blue);
        font-size: 0.75rem;
        font-weight: var(--font-normal);
    }
}

.line{
    width: 0.0625rem;
    height: 5rem;
    opacity: 0.2;
    background: var(--color-light-grey);
}

.tab{
    display: flex;
    align-items: center;
    justify-content: space-around;

    .tab-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .7rem;

        p{
            color: rgba(0, 0, 0, 0.80);
            text-align: center;
            font-size: var(--font-base);
            font-weight: var(--font-normal);
            cursor: pointer;
        }
    
        .active-tab{
            color: var(--color-aqua);
        }
    
        .bottom-line{
            width: 10.625rem;
            height: 0.125rem;
            background: var(--color-aqua);
        }
    }
}

.user-details-profile-body-container{
    border-radius: 0.25rem;
    border: 1px solid rgba(33, 63, 125, 0.06);
    background: var(--bg-white);
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    width: 100%;
    padding: 2.5rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom:  1px solid rgba(33, 63, 125,0.1);
    padding: 2rem 0;
    h3{
        color: var(--color-blue);
        font-size: var(--font-base);
        font-weight: var(--font-medium);
    }
}

.info:first-child{
    padding-top: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 2rem;

    .grid-container-item{
        display: flex;
        flex-direction: column;
        gap: .7rem;

        h5{
            color: var(--color-light-grey);
            font-size: 0.75rem;
            font-weight: var(--font-normal);
            text-transform: uppercase;
        }

        p{
            color: var(--color-light-grey);
            font-size: var(--font-base);
            font-weight: var(--font-medium);
        }
    }
}

@media (max-width: 1024px) {
    .grid-container{
        grid-template-columns: repeat(3,1fr);

    }
}

@media (max-width: 768px) {
    .user-details-container{
        width: 100vw;
    }
}

@media (max-width: 425px) {
    .grid-container{
        grid-template-columns: repeat(1,1fr);

    }

    .user-details-profile{
        flex-wrap: wrap;
    }

    .user-details-container-head{
        flex-direction: column;
        gap: var(--font-base);
        justify-content: flex-start;
        align-items: flex-start;
    }

    .btn-container{
        button{
            padding: .5rem;
        }
    }

    .tab{
        gap: var(--font-base);
        flex-wrap: wrap;

        .tab-item{
            p{
                font-size: .8rem;
            }
            .bottom-line{
                width: 5rem;
            }
        }
    }
}