nav{
    width: 100%;
    padding: 1.5rem 0;
    background-color: var(--bg-white);
    filter: drop-shadow(3px 0px 20px rgba(0, 0, 0, 0.04));
}

.nav-container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-bar{
    display: none;
}

.nav-logo-input{
    display: flex;
    align-items: center;
    gap: 8rem;
}

.input-container{
    display: flex;
    width: 25rem;
    position: relative;

    input{
        border-radius: 0.5rem;
        border: 1px solid #213F7D;
        opacity: 0.2;
        background: #FFF;
        height: 2.5rem;
        width: 100%;
        padding: var(--font-base);
        font-size: var(--font-base);
        color: var(--color-black);
    }

    input::placeholder{
        color:  var(--color-light-grey);
        font-family: 'Work Sans', sans-serif;        
        font-size: 0.875rem;
        font-style: normal;
        font-weight: var(--font-normal);
        line-height: normal;
    }

    button{
        position: absolute;
        right: 0;
        background-color: var(--color-aqua);
        border: none;
        height: 2.5rem;
        width: 3.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.nav-actions{
    display: flex;
    align-items: center;
    gap: 3rem;

    a{
        color: #213F7D;
        font-family: var(--font-family-2);        
        font-size: var(--font-base);
        font-style: normal;
        font-weight: var(--font-normal);
        line-height: normal;
        text-decoration-line: underline;
    }
}

.nav-cta-container{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-profile{
    display: flex;
    align-items: center;
    gap: .7rem;
}

.profile-name{
    display: flex;
    align-items: center;

    h4{
        color: #213F7D;
        font-size: 1rem;
        font-weight: 500;
    }
}

@media (max-width: 1024px) {
    .nav-logo-input{
        gap: 3rem;
    }

    .nav-actions,.nav-cta-container{
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    .input-container,.nav-actions{
        display: none;
    }

    .menu-bar{
        display: block;
        cursor: pointer;
    }
}


